@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions ;

@{ 
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedCultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div style="padding-top:20px">
    <form asp-route-returnUrl="@returnUrl" asp-controller="Home" asp-action="CultureManagement" method="post">
        <select class="select2-purple" style="border:none" name="culture" onchange="this.form.submit()" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="cultureList" > </select>
    </form>
</div>
