@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Proje.Models.Booking

@{
    ViewData["Title"] = localizer["confirm"];
    TempData["userId"] = UserManager.GetUserId(User);
    TempData["height"] = "550px";
    TempData.Keep("TourId");   
}
<!-- banner part start-->
<partial name="_BannerPartial" />
<div class="d-flex ">
    <div class="container text-center  justify-content-center" style="
    border: 1px black solid;
    width: 60%;
    padding: 20px 20px;
    background: whitesmoke;
">
        <h1>@ViewData["Title"]</h1>
        @await Component.InvokeAsync("TourInformation", TempData["TourId"])
        <hr />
        <div class="row justify-content-center d-flex ">
            <div class="col-md-4">
                <form asp-action="Create" asp-controller="Bookings">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="customerId" type="hidden" value=@TempData["userId"] />
                    <input asp-for="TourId" type="hidden" value=@TempData["TourId"] />
                    <input asp-for="placed_at" type="hidden" value=@DateTime.Now />
                    <div class="form-group">
                        <input type="submit" value="@localizer["confirmBtn"]" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="Package" asp-action="Index">@localizer["Back"] </a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
