@model Proje.Models.City
@{
    ViewData["Title"] = "Home Page";
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h5>Best way to tour</h5>
                        <h1>Lorem ipsum dolor amet consec</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!-- banner part start-->
<section class="search_your_country">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="search_form">
                    <form asp-action="SearchResult" method="get">
                        <div asp-validation-summary="All" class="form-row">
                            <div class="col-lg-9">
                                <div class="search_form_iner">
                                    <select asp-for="CityID" class="custom_select" id="inlineFormCustomSelect1">
                                        @await Component.InvokeAsync("CityList")
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button class="search_btn" type="submit">search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("TourList")
            <a class="read_btn">And more...</a>
        </div>
    </div>
    <img src="~/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="~/img/animate_icon/Shape-2.png" alt="" class="feature_icon_2">
</section>
<!-- banner part start-->
<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7">
                <div class="feature_img">
                    <img src="~/img/about_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_text">
                    <img src="~/img/section_tittle_img.png" alt="#">
                    <h2>Amazing tour</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                        ipsum suspendisse ultrices gravida Risus commodo viverra maecenas
                        accumsan lacus vel facilisis.
                    </p>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt
                        ut
                    </span>
                    <!--counts come here -->
                    @await Component.InvokeAsync("CountsComponent")
                </div>
            </div>
        </div>
    </div>

    <img src="~/img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="~/img/animate_icon/Shape-2.png" alt="" class="feature_icon_2">
    <img src="~/img/animate_icon/Shape-3.png" alt="" class="feature_icon_3">
</section>
<!-- upcoming_event part start-->
<!-- use sasu part end-->
<section class="popular_place padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="section_tittle text-center">
                    <img src="~/img/section_tittle_img.png" alt="">
                    <h2>Most Popular <span>Acivities</span> </h2>
                    <p>
                        A Selection of our best most appreciated and best rated activities included
                        in our Tours.
                    </p>
                </div>
            </div>
        </div>
        <!--Activity display -->
        @await Component.InvokeAsync("ActivityDisplay")

    </div>
</section>
<!-- use sasu part end-->
<!-- about_us part start-->
<section class="place_details section_padding">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="place_detauls_text">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="place_details_content">
                                <img src="~/img/section_tittle_img.png" alt="#">
                                <h2>Amazing tour</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                                    ipsum suspendisse ultrices gravida Risus commodo viverra maecenas
                                    accumsan lacus vel facilisis.
                                </p>
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt
                                    ut
                                </span>
                            </div>
                        </div>
                    </div>
                    <img src="~/img/plase_details_1.png" alt="#">
                </div>
            </div>
            <div class="col-md-6">
                <div class="place_details_img">
                    <img src="~/img/plase_details_2.png" alt="#">
                </div>
            </div>
        </div>
    </div>
    <div class="view_all_btn">
        <a href="#" class="view_btn">view all</a>
    </div>
</section>
<!-- about_us part end-->
<!-- pricing part start-->

<section class="tour_package section_padding" style="padding-bottom:40px">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- rating here -->
            @await Component.InvokeAsync("Reviews")
            <div class="col-lg-5 col-xl-3 offset-lg-1 col-sm-6">
                <div class="tour_pack_content">
                    <img src="img/section_tittle_img.png" alt="">
                    <h2>Tour packages</h2>
                    <p>
                        Tour Packages organized by professionals with focus on clients' needs
                        and expectations, what we've always considered as a priority
                    </p>
                    <a asp-action="Index" asp-controller="Package" class="btn_1">Book now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing part end-->
<!-- cta part start-->
<hr />
<!-- cta part end-->
<!-- blog part start-->
<section class="blog_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section_tittle">
                    <img src="~/img/section_tittle_img.png" alt="">
                    <h2>our blog</h2>
                    <p>
                        Some Samples of our Blog Posts
                    </p>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("BlogPosts")
    </div>
</section>
<!-- blog part end-->
