@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AccessDeniedModel
@{
    ViewData["Denied"] = localizer["denied"];
}

<header>
    <h1 class="text-danger">@ViewData["Denied"]</h1>
    <p class="text-danger">@localizer["noAcces"]</p>
</header>
