@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ForgotPasswordConfirmation
@{
        ViewData["Title"] = localizer["Forgot"] ;
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["check"]   
</p>

