@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model RegisterModel
@{
    ViewData["Title"] = localizer["Register"];
}
<div class="col-lg-8">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h4>@localizer["Create"] </h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.ad"></label>
            <input asp-for="Input.ad" class="form-control" />
            <span asp-validation-for="Input.ad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.SoyAad"></label>
            <input asp-for="Input.SoyAad" class="form-control" />
            <span asp-validation-for="Input.SoyAad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.UserName"></label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@localizer["Register"]</button>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

